#!/usr/bin/env bash

sudo apt-get update

# ========================================
# install apache

sudo apt-get install -y apache2

sudo a2enmod rewrite
sudo service apache2 restart


# ========================================
# install mysql

MYSQL_ROOT_PASSWORD="vagrant1"
DB_NAME="blog"

# prevent the prompt screen from showing
sudo debconf-set-selections <<< "mysql-server mysql-server/root_password password $MYSQL_ROOT_PASSWORD"
sudo debconf-set-selections <<< "mysql-server mysql-server/root_password_again password $MYSQL_ROOT_PASSWORD"

# install mysql server
sudo apt-get install -y mysql-server


# # ========================================
# # install redis
#
# sudo apt-get install -y redis-server


# ========================================
# install php

sudo apt-get install -y php libapache2-mod-php php-mcrypt php-mysql php-curl php-mbstring php-xml #php-redis


# ========================================
# setup virtual host

# create apache config
sudo bash -c 'cat <<EOT >>/etc/apache2/sites-available/blog.conf
<VirtualHost *:80>
    ServerName blog.vagrant
    DocumentRoot /var/www/blog

    <Directory /var/www/blog/>
        Options FollowSymLinks
        AllowOverride All
    </Directory>

    # Logging
    ErrorLog /var/log/apache2/blog-error.log
    LogLevel notice
    CustomLog /var/log/apache2/blog-access.log combined
</VirtualHost>
EOT
'

sudo a2ensite blog.conf
sudo service apache2 reload

# create databases
echo "create database $DB_NAME" | mysql -u root -p$MYSQL_ROOT_PASSWORD

# Install wp cli tool
curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
php wp-cli.phar --info
chmod +x wp-cli.phar
sudo mv wp-cli.phar /usr/local/bin/wp

# Install wp
cd /var/www/blog
if ! $(wp core is-installed); then
    wp core download
    wp config create --dbname=$DB_NAME --dbuser=root --dbpass=$MYSQL_ROOT_PASSWORD
    wp core install --url=example.com --title=Example --admin_user=supervisor --admin_password=strongpassword --admin_email=info@example.com --skip-email
fi

# # Create the menu
# wp menu create "Primary menu"

# # Create posts with categories
# cd /var/www/blog
# wp post create ./lipsum.txt --post_title='UCAS Clearing: 5 Top Tips from a Uni Recruitment Staffer' --post_status=publish
# wp post create ./lipsum.txt --post_title='“Special relationship” showmanship to be expected – but contentious issues brew' --post_status=publish
# wp post create ./lipsum.txt --post_title='UCAS Clearing 2018 Dictionary' --post_status=publish
# wp post create ./lipsum.txt --post_title='Results Day 2018: What’s Your Action Plan?' --post_status=publish
# wp post create ./lipsum.txt --post_title='Clearing for Teachers: What You Need to Know' --post_status=publish
# wp post create ./lipsum.txt --post_title='Keep calm this summer' --post_status=publish

# # Create category
# wp term create category "News" --description="News"
# wp term create category "Life on campus" --description="Life on campus"
# wp term create category "Freshers" --description="Freshers"
# wp term create category "Research" --description="Research"
# wp term create category "Student blogs" --description="Student blogs"
