#!/usr/bin/env bash

sudo apt-get update

# ========================================
# install apache

sudo apt-get install -y apache2

sudo a2enmod rewrite
sudo service apache2 restart


# ========================================
# install mysql

MYSQL_ROOT_PASSWORD="vagrant1"
DB_NAME="blog"

# prevent the prompt screen from showing
sudo debconf-set-selections <<< "mysql-server mysql-server/root_password password $MYSQL_ROOT_PASSWORD"
sudo debconf-set-selections <<< "mysql-server mysql-server/root_password_again password $MYSQL_ROOT_PASSWORD"

# install mysql server
sudo apt-get install -y mysql-server


# # ========================================
# # install redis
#
# sudo apt-get install -y redis-server


# ========================================
# install php

sudo apt-get install -y php libapache2-mod-php php-mcrypt php-mysql php-curl php-mbstring php-xml #php-redis


# ========================================
# setup virtual host

# create apache config
sudo bash -c 'cat <<EOT >>/etc/apache2/sites-available/uos-blog.conf
<VirtualHost *:80>
    ServerName uos-blog.vagrant
    DocumentRoot /var/www/uos-blog

    <Directory /var/www/uos-blog/>
        Options FollowSymLinks
        AllowOverride All
    </Directory>

    # Logging
    ErrorLog /var/log/apache2/uos-blog-error.log
    LogLevel notice
    CustomLog /var/log/apache2/uos-blog-access.log combined
</VirtualHost>
EOT
'

sudo a2ensite uos-blog.conf
sudo service apache2 reload

# create databases
echo "create database $DB_NAME" | mysql -u root -p$MYSQL_ROOT_PASSWORD

# Install wp cli tool
curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
php wp-cli.phar --info
chmod +x wp-cli.phar
sudo mv wp-cli.phar /usr/local/bin/wp

# Install wp
cd /var/www/uos-blog
if ! $(wp core is-installed); then
    wp core download
    wp config create --dbname=$DB_NAME --dbuser=root --dbpass=$MYSQL_ROOT_PASSWORD
    wp core install --url=example.com --title=Example --admin_user=supervisor --admin_password=strongpassword --admin_email=info@example.com --skip-email
fi

# Create the menu
wp menu create "Primary menu"

# # Create top level pages
# cd /var/www/uos-blog
# wp post create --post_type=page --post_title='News' --post_content='News content' --post_status=publish
# wp post create --post_type=page --post_title='Life on campus' --post_content='Life on campus content' --post_status=publish
# wp post create --post_type=page --post_title='Freshers' --post_content='Freshers content' --post_status=publish
# wp post create --post_type=page --post_title='Research' --post_content='Research content' --post_status=publish
# wp post create --post_type=page --post_title='Student blogs' --post_content='Student blogs content' --post_status=publish



# # wp post create --post_type=page --post_title='News' --post_status=future --post_date='2018-01-01 00:00:00'
