#!/usr/bin/env bash

# variables - these can be changed

MYSQL_ROOT_PASSWORD="vagrant1"
DB_NAME="blog"

WP_SITE_TITLE="Example blog"
WP_SITE_URL="example.com" # must match /etc/hosts
WP_ADMIN_USER="admin"
WP_ADMIN_PW="strongpassword"
WP_ADMIN_EMAIL="info@example.com"


sudo apt-get update

# ========================================
# install apache

sudo apt-get install -y apache2

sudo a2enmod rewrite
sudo service apache2 restart


# ========================================
# install mysql

# prevent the prompt screen from showing
sudo debconf-set-selections <<< "mysql-server mysql-server/root_password password $MYSQL_ROOT_PASSWORD"
sudo debconf-set-selections <<< "mysql-server mysql-server/root_password_again password $MYSQL_ROOT_PASSWORD"

# install mysql server
sudo apt-get install -y mysql-server


# ========================================
# install php

sudo apt-get install -y php libapache2-mod-php php-mcrypt php-mysql php-curl php-mbstring php-xml #php-redis


# ========================================
# setup virtual host

# create apache config
sudo bash -c "cat <<EOT >>/etc/apache2/sites-available/blog.conf
<VirtualHost *:80>
    ServerName $WP_SITE_URL
    DocumentRoot /var/www/blog

    <Directory /var/www/blog/>
        Options FollowSymLinks
        AllowOverride All
    </Directory>

    # Logging
    ErrorLog /var/log/apache2/blog-error.log
    LogLevel notice
    CustomLog /var/log/apache2/blog-access.log combined
</VirtualHost>
EOT
"

sudo a2ensite blog.conf
sudo service apache2 reload

# create databases
echo "create database $DB_NAME" | mysql -u root -p$MYSQL_ROOT_PASSWORD

# Install wp cli tool
curl -O https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar
php wp-cli.phar --info
chmod +x wp-cli.phar
sudo mv wp-cli.phar /usr/local/bin/wp

# Install wp
cd /var/www/blog
if ! $(wp core is-installed); then
    wp core download
    wp config create --dbname=$DB_NAME --dbuser=root --dbpass=$MYSQL_ROOT_PASSWORD
    wp core install --url="'$WP_SITE_URL'" --title="'$WP_SITE_TITLE'" --admin_user="'$WP_ADMIN_USER'" --admin_password="'$WP_ADMIN_PW'" --admin_email="'$WP_ADMIN_EMAIL'" --skip-email
fi

# # Create the menu
# wp menu create "Primary menu"

# # Create posts with categories
# wp post create ./lipsum.txt --post_title='Hello Vagrant!' --post_status=publish

# # Create category
# wp term create category "News" --description="News"
